*
{
    box-sizing: border-box;
}

body{
    background-color: #e4c595;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*Navigatie Balk*/
nav{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

nav a{
    color: #292b35;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    transition: 0.5s;
}

nav a:hover{ 
    color:aquamarine; 
    transition: 250ms ease-in-out;
    transform: scale(1.1);
}

/*the search bar*/
nav input{
    padding: 0.5em;
    background-color: #d5a55a;
    color: white;
    border: 2px solid white;
    border-radius: 8px;

    margin-top: -10px; /*find another way to align this better*/
    margin-left: 20px;
}

::placeholder{ 
    color: white;
}

.nav__logout{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.nav__logout a{
    display: flex;
}

.nav__logout img{
    display: block; /*zorgt ervoor dat de afbeeldingen consistent zijn in gedrag*/
    width: 50px;
    height: 50px;
}

/*Client details*/
.client-details{
    display: block;
    background-color: #8e3f3f;
    align-items: stretch; /*Zorgt dat alle afbeeldingen dezelfde hoogte hebben*/
    gap: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

.client-details h1{
    color: #f0ba64;
}

.client-details p{
    color: #f0e6d2;
    font-size: 18px;
    margin: 10px 0;
}

.client-details strong{
    font-weight: bold;
}

.password-change-form{
    margin: 0px auto;
    background-color: #f0ba64;
    border: 5px solid white;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.password-change-form h2{
    font-size: 24px;
    color: #292b35;
    margin-bottom: 20px;
}

.password-change-form label{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.password-change-form input[type="password"]{
    width: 95%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.password-change-form .submit-Btn{
    background-color: #2a2454;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

.password-change-form .submit-Btn:hover{
    background-color: aquamarine;
    color: #2a2454;
}

/*Bekijk jouw bestellingen - ClienProfile.php*/
.orders{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.orders h2{
    margin-left: 20px;

}

.orders ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.orders li{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #8e3f3f;
    border: 3px solid white;
    border-radius: 8px;
    padding: 20px;
    width: 33.333%;
    box-sizing: border-box;
}

.orders li h3{
    font-size: 1.5em;
    color: #f0ba64;
    margin-bottom: 10px;
}

.orders li p{
    margin: 5px 0;
    color: white;
}

.orders li strong{
    color: #f1c6a1;
}

.orders li h4{
    margin-top: 25px;
    font-size: 1.5em;
    font-weight: bold;
    color: #f0ba64;
    margin-bottom: 10px;
}

.orders div {
    margin-bottom: 15px;
}

.orders .review-form{
    margin-top: 40px;
    background-color: #f0ba64;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Review tabel*/
.review-form label{
    font-size: 1.3em;
    font-weight: bold;
    color: #292b35;
}

.review-form select, .review-form textarea{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.review-form button{
    background-color: #2a2454;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

.review-form button:hover{
    background-color: aquamarine;
    color: #2a2454;
}

.review-list li{
    margin: 20px 0 auto;
    background-color: red;
    width: 100%;
    border-radius: 5px;
    gap: 5px;
}
@media (max-width: 768px){
    .orders li{
        width: 95%;
    }
}