*
{
    box-sizing: border-box;
}

body{
    background-color: #e4c595;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*Navigatie Balk*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
}

.navbar a{
    color: #292b35;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    transition: 0.5s;
}

.navbar a:hover{ /*Why is the css not css'ing xC !!!*/
    color:aquamarine; 
    transition: 250ms ease-in-out;
    transform: scale(1.1);
}

.navbar input{
    width: 100%;
    max-width: 200px;
    margin-right: 20px;
    margin-top: 5px;
    background-color: #d5a55a;
    color: white;
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 8px;
}

.navbar form{ /*the search bar*/
    flex: 1 1 30%;
    align-self: flex-end;
    text-align: right;
}

::placeholder{
    color: white;
}

/*Signup pagina*/
.formSignup{
    height: 550px;
    width: 650px;
    background-color: #d5a55a;
    border: 5px solid white;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.formSignup h3{
    color: red;
}

/*Login pagina*/
.formTitle{
    color: rgb(42, 36, 84);
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

.formLogin{
    height: 500px;
    width: 650px;
    background-color: #d5a55a;
    border: 5px solid white;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.theForm
{
  padding-bottom: 32px;
}

.theForm label
{
  display: block;
  margin-bottom: 10px;
  margin-left: 70px;
}


.theForm input[type=text], 
.theForm input[type=password] 
{
    display: block;
    width: 80%;
    padding: 3px;
    font-size: 20px;
    border-radius: 8px;
    margin: 0 auto;
}

h3{
    color: rgb(42, 36, 84);
    font-weight: lighter;
    text-align: center;
}

h3 a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

h3 a:hover{
    color: aquamarine;
}

.form-Error{
    background-color: #ef2b2b;
    color: white;
    padding: 0.5em;
    margin-bottom: 1em;
}

.btn
{
    width: 100%;
    margin: 0.5em auto;
    background-color: rgb(42, 36, 84);
    color: aquamarine;
    border: 4px solid white;
    border-left:none;
    border-right:none;
    text-align: center;
    padding: 4px 32px;
    font-size: 1.4em;
    cursor: pointer;
}

.btn:hover{
    background-color: aquamarine;
    color: rgb(42, 36, 84);
    border-left:none;
    border-right:none;
}
